.container {
    display: flex;
    border: 3px dotted black;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* align-content: center; */
    gap: 1em;
}

.box {
    width: 250px;
    height: 150px;
    font-size: 7em;
    border-radius: 0.1em;
    text-align: center;
    background-color: #999;
    box-shadow: 4px 4px 8px #444;
}

#box1 {
    background-color: #d66;
}

#box2 {
    background-color: #66d;
}

#box3 {
    background-color: #6d6;
}

#box4 {
    background-color: #6dd;
}

#box5 {
    background-color: #d6d;
}

#box6 {
    background-color: #dd6;
}
